.card-container {
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
}

.card-container:hover {
  transform: scale(1.05);
}
